* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



body{
    background-color: #18181b;
    color: #f3f4f6;
}


h1 {
    color: #4338ca;
}

h2, h3{
    color: #f9fafb;

}